<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    @Html.Partial("_links")

</head>
<body>
    <div>
        @Html.Partial("_nav")

    </div>

    @RenderBody()

    @Html.Partial("_Footer")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
