<div style="padding-top:15%">
    <div class="text-center">
        <h2>
            <strong>Access Denied</strong>
            <small><br /> Sorry, you don't have access on this page.</small>
        </h2>
    </div>
</div>